@{
    ViewBag.Title = "Contacto";
    ViewBag.Message = "São Paulo";

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Av. Engenheiro Luiz Carlos Berrini, 1461, 3º andar<br />
    São Paulo/SP CEP: 04571-011<br />
    <abbr title="Phone">Tel.:</abbr>
     + 55 11 2737-4465
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>