@{
    ViewBag.Title = "Pagina Principal";
}

<div class="jumbotron row">
    <h1>Santos&amp;Santana Advogados</h1>
    <p class="lead">Desenvolvemos com transparência e honestidade a função 
        advocatícia, honrando os compromissos com o cliente, buscando a solução mais eficiente e trazendo evolução para si mesmo e para o mundo.</p>
    
</div>

<div class="row alert-danger">
    <div class="col-md-4">
        <h2>Relações de Consumo</h2>
        <p>
            Encontrar os parceiros certos é tarefa fundamental na gestão de pós-vendas, sobretudo diante do complexo sistema legal no Brasil. É preciso entender, na prática, as Relações de Consumo de cada nicho do mercado para construir 
            soluções focadas na prevenção de riscos, potencializando a defesa dos interesses dos fornecedores.
        </p>
        <p><a class="btn btn-default" href="http://santosesantana.com.br/areas-de-atuacao/">Saiba Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Recuperação da Empresa</h2>
        <p>Quando a reorganização empresarial se torna uma alternativa viável, ou mesmo quando a execução concursal revela-se necessária, a sociedade empresária que pretende participar do processo de recuperação judicial ou falência, como credor ou devedor, necessita de um time de advogados,
           contabilistas, consultores e técnicos especializados no assunto para conduzir seus interesses com a mais primorosa técnica jurídica.</p>
        <p><a class="btn btn-default" href="http://santosesantana.com.br/areas-de-atuacao/">Saiba Mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Direito Aduaneiro</h2>
        <p>Conhecer profundamente o conjunto de regulamentos que permeia o Direito Aduaneiro é um elemento essencial para 
           assessorar companhias brasileiras e estrangeiras que operam na importação e exportação de bens e serviços.</p>
        <p><a class="btn btn-default" href="http://santosesantana.com.br/areas-de-atuacao/">Saiba Mais &raquo;</a></p>
    </div>
</div>